@font-face {
  font-family: 'bigly-icon';
  src:  url('fonts/bigly-icon.eot?lukpb9');
  src:  url('fonts/bigly-icon.eot?lukpb9#iefix') format('embedded-opentype'),
    url('fonts/bigly-icon.ttf?lukpb9') format('truetype'),
    url('fonts/bigly-icon.woff?lukpb9') format('woff'),
    url('fonts/bigly-icon.svg?lukpb9#bigly-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="bigly-icon-"], [class*=" bigly-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bigly-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bigly-icon-bar-chart-o:before {
  content: "\e902";
}
.bigly-icon-import2-o:before {
  content: "\e903";
}
.bigly-icon-import-right-f:before {
  content: "\e900";
}
.bigly-icon-import-left-f:before {
  content: "\e904";
}
.bigly-icon-money:before {
  content: "\e905";
}
.bigly-icon-rupee-f:before {
  content: "\e906";
}
.bigly-icon-rupee-o:before {
  content: "\e907";
}
.bigly-icon-box-f:before {
  content: "\e908";
}
.bigly-icon-box-o:before {
  content: "\e909";
}
.bigly-icon-category:before {
  content: "\e90a";
}
.bigly-icon-chat-f:before {
  content: "\e90b";
}
.bigly-icon-chat-o:before {
  content: "\e90c";
}
.bigly-icon-home-f:before {
  content: "\e90d";
}
.bigly-icon-home-o:before {
  content: "\e90e";
}
.bigly-icon-icon:before {
  content: "\e901";
}
.bigly-icon-payment-f:before {
  content: "\e90f";
}
.bigly-icon-payment-o:before {
  content: "\e910";
}
.bigly-icon-play-button-f:before {
  content: "\e911";
}
.bigly-icon-play-button-o:before {
  content: "\e912";
}
.bigly-icon-settings-f:before {
  content: "\e913";
}
.bigly-icon-settings-o:before {
  content: "\e914";
}
.bigly-icon-shut-down:before {
  content: "\e915";
}
.bigly-icon-users-o:before {
  content: "\e916";
}
.bigly-icon-video-player-f:before {
  content: "\e917";
}
.bigly-icon-video-player-o:before {
  content: "\e918";
}
